

.partners{
	margin-top: -200px;
}
.partners .row{
	margin-left: 0;
	margin-right: 0;
}
.ebay{
	
	background-image: url(../img/ebay.png);
	width: 200px;
    height: 96px;
	-webkit-background-size: cover;
	background-size: cover;
}

.sdVentures{
	background-image: url(../img/Logo-SDV.PNG);
	width: 233px;
    height: 96px;
	-webkit-background-size: cover;
	background-size: cover;
}
.facebook{
	background-image: url(../img/facebook-logo-preview.png);
	width: 260px;
    height: 80px;
	-webkit-background-size: cover;
	background-size: cover;
	
}
.gvaCapital{
	background-image: url(../img/GVA-logo-1.png);
	width: 153px;
    height: 96px;
    margin-left: 40px;
	-webkit-background-size: cover;
	background-size: cover;
}
.ods{
	background-image: url(../img/ods-front.png);
	width: 169px;
    height: 96px;
    margin-left: 10px;
	-webkit-background-size: cover;
	background-size: cover;
}

.apps4all{
	background-image: url(../img/Apps4all.jpg);
	width: 200px;
    height: 74px;
	-webkit-background-size: cover;
	background-size: cover;
}

.schedule {
	background-color: #f1f1f2;
	width: 100%;
	height: 100%;
	padding-bottom: 80px;
	position: relative;
}
.schedule h3 {
	font-size: 38px;
	text-align: center;
	padding: 60px;
}

.lineK{
	
	margin-top: -20px;
	margin-left: 46%;
	margin-bottom: 30px;
	width: 50px;
	height: 21px;
	background-image: url(../img/Rectangle4.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.ast{
	margin-top: -235px;
	margin-left: 55px;
	width: 170px;
	height: 150px;
	background-image: url(../img/Layer13.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	float: left;
}
.sput{
	position: absolute;
	right: 55px;
	margin-top: -235px;
	width: 170px;
	height: 166px;
	background-image: url(../img/9d0a4909beecddf6382bee9d87_s.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.kosm{
	position: absolute;
	right: 55px;
	bottom: -55px;
	width: 251px;
	height: 300px;
	background-image: url(../img/Layer14.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.schedule button{
	
	padding: 0;
	margin: 0;
	width: 100%;
	height: 136px;
	
}
.line {
	margin-top: 130px;
	margin-left: -1%;
	width: 102%;
	height: 17px;
	background-repeat: no-repeat;
	background-image: url(../img/Polygon1.png);
	-webkit-background-size: cover;
	background-size: cover;
}

.date{

	
	text-align: center;
	margin-top: -100px;
	margin-bottom: 55px;
	
}	

.schedule p{
	font-size: 38px;
}
.schedule li{
	list-style: none;
	padding-top: 30px;
}

#clock{
	
	float: left;
	padding: 2px;
	background-color: #cccdd2;
}	
.expert{
	background-color: #fbfbfb;
}
.expert h3{
	padding: 60px;
	padding-left: 41%;
}

.exLine{
	margin-top: 60px;
}

.nikDav{
	width: 200px;
	height: 200px;
	background-image: url(../img/Experts/NickDavidoGagarin.jpg);

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
}

.MikhailTaver{
	background-image: url(../img/Experts/MikhailTaverGagarin.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
}
.Treneva{
	background-image: url(../img/Experts/Anna-MariaTrenevaFacebook.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
}
.Mikhayluk{
	background-image: url(../img/Experts/AndreyMikhaylukSDVentures.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
}

.Cherkashin{
	background-image: url(../img/Experts/PavelCherkashinGVACapital.png);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
}

.Chelly{
	background-image: url(../img/Experts/YanChellyEbay.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
}

.Vasiliev{
	background-image: url(../img/Experts/AlexanderVasilievApps4all.png);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
}

.Belotserkovskiy{
	background-image: url(../img/Experts/AlexandrBelotserkovskiyMicrosoft.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	background-position: -75px 0;
}

.Goncharov{
	background-image: url(../img/Experts/MaximGoncharovCherryLabs.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	
}

.Andreenko{
	background-image: url(../img/Experts/ArtemAndreenkoprisma.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	
}

.ASemyanov{
	background-image: url(../img/Experts/ArtyomSemyanov.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	
}

.Semianov{
	background-image: url(../img/Experts/KonstantinSemianovPrisma.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	
}

.Chakhvadze{
	background-image: url(../img/Experts/ArturChakhvadzeprisma.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	
}

.Borisov{
	background-image: url(../img/Experts/SergeyBorisovApps4all.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	
}

.Sarukhanov{
	background-image: url(../img/Experts/WaganSarukhanovFlexlab.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	
}

.natekin{
	background-image: url(../img/Experts/AlexNatekinODS.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	
}

.Romov{
	background-image: url(../img/Experts/PeterRomov2.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	
}

.Ermakov{
	background-image: url(../img/Experts/PetrErmakovMail.png);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	
}

.Degtyarev{
	background-image: url(../img/Experts/RomanDegtyarev.png);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	
	
}

.Kravchenko{
	background-image: url(../img/Experts/ArseniyKravchenko.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	
}

.Notchenko{
	background-image: url(../img/Experts/AlexanderNotchenko.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	
}

.Neznanova{
	background-image: url(../img/Experts/JuliaNeznanova.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	
}

.Veretennikov{
	background-image: url(../img/Experts/StanislavVeretennikov.jpg);
	width: 200px;
	height: 200px;
	

	-webkit-filter: grayscale(1); /* Webkit браузеры */  
        filter: gray; /* для IE6-9 */  
        filter: grayscale(1); /* W3C */
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 100px;
	background-position:-50 0;
	
}

.name{
	font-style: 22px;
	padding-left: 20%;
}

.expert .container .row .col-md-3{
	padding-left: 10px;
}