@font-face {
  font-family: fontawesome;
  src: url (fonts/fontawesome-webfont_0.ttf);
}


.socseti{font-family: fontawesome;
}

body {
	background: #bdbebf;
	color:#fff;
	
}
header a {
	text-decoration: none;
	color:#fff;
	
}
header{
	
	background: #1c7bad;
}